.title {
    text-align: center;
    font-size: 2rem;
}
.titleMain {
    text-align: center;
    margin-inline: 400px;
    font-size: 2rem;

}
main .paragraph {
    text-align: center;
    margin-inline:300px;
    font-size: 2rem;
}